.aling-text{
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    right: 5%;
    left: 55%;
    position: absolute;
}

.text{
    position: relative;
    height: 100%;
    line-height: 3rem;
    font-size: 2rem;
    padding-top: 50px;
}

@media screen and (max-width:1024px) {
    .aling-text{
        height: 85vh;
        left: 5%;
    }
}

